#background {
	background-image: url("../img/background.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.no-dropdown-toggle::after {
	display: none !important;
}

.flip-v,
.flip-v::before {
	transform: scaleX(-1);
}

.modal-backdrop.show {
	opacity: 0;
}